
/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width:992px){
    #header {
        display: grid;
        grid-template-areas:
        "logo . button"
        "navbar navbar navbar";
        padding: 0;
    }
    #header img {
        padding-left: 4.5vw;
    }
    .header__navbar {
        display: flex;
        align-items: center;
        grid-area: navbar;
    }
    .header__navbar__link {
        padding: 2vw;
        font-weight: 500;
        display: flex;
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        justify-content: space-around;
    }
    #register {
        grid-area: button;
        padding: 2rem;
        color: #0065FC;
    }

    .header__navbar__link[data-active=true] {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    .header__navbar__link:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }


    .search__form_button {
        display: none;
    }
    .search__form_button-mobile {
        font-size: 1rem;
        background-color: #0065FC;
        color: white;
        border-radius: 0 10px 10px 0;
        border: 0;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search__result__icon i {
        margin-left: 0.8rem;
    }

    .fa-map-marker-alt, .fa-search {
        left: 2px!important;
    }
    .input_search {
        padding: 3vw 5vw;
    }
    .btn-search {
        border-radius: 10px;
        margin-left: -5px;
    }
    #filter__list {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    #filter__list li {
        margin: 10px 6px;
        text-align: -webkit-auto;
        padding-right: 6px;
    }
    .search__filter__title {
        width: -webkit-fill-available;
        margin-bottom: 10px;
    }
    .search__filter__text {
        padding: 0 0.5rem;
    }
    .fa-info {
        width: 2em;
        height: 2em;
        line-height: 2em;
        top: 5px;
    }
    #hebergement {
        padding: 0;
        margin-top: 8vw;
        flex-direction: column;
    }
    .hebergement__header {
        margin: 0 5.5vw;
        padding: 0;
    }
    .hebergement__article {
        margin: 2vw 1.5vw 3vw 0;
    }
    .hebergement__article img {
        width: 85vw;
        height: fit-content;
    }
    .hebergement__link {
        margin: 0 5.5vw;
        padding: 0;
    }
    .populaire__col, .hebergement__col {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: initial;
        padding: 5vw 0;
        margin:0
    }
    .hebergement__col {
        order:2; 
        background-color: white;
    }
    .populaire__header {
        margin: 0 5.5vw;
        padding: 0;
    }
    .populaire__article {
        margin: 0 5.5vw 3.5vw 5.5vw;
    }
    .populaire__header > span {
        font-size: 18px;
    }
    #activites {
        padding: 0;
    }
    .activites__header {
        margin: 0 5.5vw;
        padding: 0;
    }
    .activites {
        justify-content: center;
    }
    .activites__item {
        margin: 2vw 1.5vw 3vw 0;
        height: auto;
    }
    .activites__item img {
        width: 87vw;
        height: max-content;
    }
    .activite__web__img {
        display: none;
    }
    .activite__mobile__img {
        display: block;
    }
    .footer > div:nth-child(1){
        display: flex;
        flex-direction: column;
    }
    .footer__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer ul {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 450px) and (max-width:992px){
    .hebergement__article img {
        height: auto;
    }
}

@media screen and (min-width: 992px){
    .search__form_button-mobile {display: none;}
    .populaire__article {
        flex-wrap: wrap;
    }
    #btn-search-mobile {display: none;}
}

@media screen and (min-width: 1290px){
    .search__form_button-mobile {display: none;}
    .populaire__article {
        flex-wrap: nowrap;
    }
    #btn-search-mobile {display: none;}
}