
/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width:992px){
    .navbar {
        flex-direction: column-reverse;
        display: flex;
        margin-top: 1vw;
    }
    #nav-desktop {
        display: none;
    }
    #nav-mobile ul {
        margin: 0px;
        padding: 0px;
        list-style:none;
        display: flex;
        flex-flow: row wrap;
    }
    #nav-mobile ul>li {
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        width: 50%;
    }
    #nav-mobile ul > li:nth-child(2) {
        color:#F2F2F2;
        border-bottom: 2px solid #F2F2F2;
    }
    #nav-mobile a {
        padding: 1em;
        display: block;
        text-align:center;
        text-decoration: none;
    }
    #nav-mobile .menu {
        display: flex;
        flex-direction : row;
        justify-content: center;
    }
    #register-mobile {
        display: block;
        padding: 2vw;
        font-weight: 500;
        color:#0065FC;
        font-weight: bold;
    }
    #btn-search-desktop {
        display: none;
    }
    .fa-map-marker-alt, .fa-search {
        left: 2px!important;
    }
    .input_search {
        padding: 3vw 5vw;
    }
    .btn-search {
        border-radius: 10px;
        margin-left: -5px;
    }
    .flex-row {
        display: inline-flex;
    }
    .flex-container {
        display: block;
    }
    #filtre {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    #filtre li {
        margin: 10px 6px;
        text-align: -webkit-auto;
        padding-right: 6px;
    }
    .filtre_text {
        width: -webkit-fill-available;
        margin-bottom: 10px;
    }
    #icon-info {
        width: 2em;
        height: 2em;
        line-height: 2em;
        top: 5px;
    }
    #hebergement {
        padding: 0;
        margin-top: 8vw;
    }
    #hebergement-web {
        display: none;
    }
    #hebergement-mobile {
        display: block;
    }
    .box-populaire, .box-hebergement {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: initial;
        padding: 5vw 0;
        margin:0
    }
    .box-hebergement {
        order:2; 
        background-color: white;
    }
    .box-hebergement p {
        margin: 6vw 0vw 5.5vw 4.5vw;
    }
    .box-populaire_title {
        margin: 0 5.5vw;
    }
    .box-hebergement_item {
        margin: 5vw 5.5vw 3.5vw 2.5vw;
    }
    .box-populaire_item {
        margin: 0 5.5vw 3.5vw 5.5vw;
    }
    .box-populaire_title > span {
        font-size: 18px;
    }
    .box-activite {
        justify-content: center;
    }
    .box-activite_item img {
        width: max-content;
    }
    .box-activite_item {
        margin-bottom: 10vw
    }
    #activites-web {
        display: none;
    }
    #activites-mobile {
        display: block;
    }
    #hideForMobile {
        display: none;
    }
    #footer > div:nth-child(1){
        display: flex;
        flex-direction: column;
    }
    .box-footer {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #footer ul {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px){
    .box-populaire_item {
        flex-wrap: wrap;
    }
    #nav-mobile {display: none;}
    #btn-search-mobile {display: none;}
}

@media screen and (min-width: 1290px){
    .box-populaire_item {
        flex-wrap: nowrap;
    }
    #nav-mobile {display: none;}
    #btn-search-mobile {display: none;}
}