/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');

* {box-sizing: border-box;}

html {
    height: 100%; 
    scroll-behavior: smooth;
}
body {height: 100%; 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
    color:black;
}

.blue { color:#0065FC } 
.blue-light { color:#DEEBFF } 
.force-grey { color:#F2F2F2!important; }

.flex {display: flex; flex-wrap: wrap;}
.retourligne {clear:both;}
.show {display: block;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mr20 {margin-right: 20px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.padding5 {padding: 5px;}
.bold {font-weight:bold;}

.container {
    width: auto;
    padding-left: 4.5vw;
    margin: 2vw;
}
.flex-row {
  display: flex;
  flex-flow: row wrap; /** flex-direction: row; flex-wrap: wrap; */
}
.inline-flex {
    display: inline-flex;
}
.img-fluid {
    max-width: 100%;
    height: fit-content;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: black;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}
.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 0px;
}
.back-to-top:hover {
  color: white;
  background: #0065FC;
  transition: background 0.2s ease-in-out;
}


/*--------------------------------------------------------------
# Logo + Navigation
--------------------------------------------------------------*/
#header {
    justify-content: space-between;
}
.navbar {
    margin-top: -2vw;
    margin-right: 4vw;
}
.nav-menu {
    display: inline-block; 
    margin-right: 3.5vw;
}
.nav-hover {
    border-top: 2px solid #0065FC; 
    display: block;
}
.nav-menu-item {
    padding-top: 2.5vw
}
.nav-menu-item:hover {
    color: #0065FC;
}
#register {
    color:#0065FC;
    font-weight: bold;
}
.logo {
    padding-top: 0;
}


/*--------------------------------------------------------------
# Début contenu
--------------------------------------------------------------*/
#first-content h3 {
    margin-block-end: 0.5em;
}
.input-group {
    height: 3vw;
}
.marker {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0 0.2vw;
    align-items: center;
}
.input_search {
    padding: 1rem;
    border: 1px solid;
    border-color: #F2F2F2;
    font-weight: bold;
}
input:focus, button:focus{
    outline: none;
}
::placeholder {
  color:black;
  font-size: 1.1em;
}
.btn-search {
    background-color: #0065FC;
    color: white;
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 0 1.3vw;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Filtre
--------------------------------------------------------------*/
.filtre_text {
    align-self: center;
    padding-right: 20px;
    font-weight: bold;
}
#filtre li {
    height: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding-right: 15px;
}
/** Force size icon Fontawesome */
.fa-stack {
    height: 2.5em!important;
    width: 2.5em!important;
    line-height: 2.5em!important;
    top: -2px;
    right: 2px;
}
.filtre_icon {
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 25px;
}

/*--------------------------------------------------------------
# Informations logements
--------------------------------------------------------------*/
.information-logements {
    display: flex;
    align-items: baseline;
}
.text-info {
    padding-top: 10px;
    font-size: 12px;
}

/*--------------------------------------------------------------
# Hébergement
--------------------------------------------------------------*/
#hebergement-mobile {
    display: none;
}
.box-hebergement {
    background-color: #F2F2F2;
    border-radius: 15px;
    flex: 0 0 62.666667%;
    max-width: 62.666667%;
}
.box-hebergement h3, .box-hebergement p {
    margin: 2vw 0vw 0.5vw 1.5vw;
    font-size: 1.3em;
    font-weight: bold;
}
.box-hebergement p {
    font-size: 1.2em;
}
.flex-container {
  display: flex;  
  flex-flow: row wrap; /** flex-direction: row; flex-wrap: wrap; */
  margin: 0;
  justify-content: center;
}
.box-hebergement_item {
    background: white;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 5px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}
.flex-item_details {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 10px;
    color: black;
    font-weight:normal
}
.box-stars {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    color: #0065FC;
}

/*--------------------------------------------------------------
# Les plus populaires
--------------------------------------------------------------*/
.box-populaire {
    background-color: #F2F2F2;
    padding: 1em 3em;
    border-radius: 25px;
    margin: 0px 0px 0px 35px;
    flex: 0 0 27%;
    max-width: 27%;
}
.box-populaire_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-populaire img {
    border-radius: 15px 0 0 15px;
}
.box-populaire_list {
    margin: 0;
}
.box-populaire_item {
    display: flex;
    background: white;
    padding: 5px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 25px;
    width: -webkit-fill-available;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}
.bottom0 {
    bottom: 0;
    margin-top: auto;    
}


/*--------------------------------------------------------------
# Activités
--------------------------------------------------------------*/
#activites-mobile {   
    display: none;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.box-activite {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.box-activite_item {
    background: white;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}
.box-activite_item img {
    width: 300px;
}
.box-activite_item p {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
}


/*--------------------------------------------------------------
# Pied de page
--------------------------------------------------------------*/
#footer {
    background-color: #F2F2F2;
}

#footer ul { 
    margin-top: 20px;
    margin-bottom: 50px;
}

#footer ul li {
    margin: 15px 0px;
}

.box-footer {
    flex: 0 0 25%;
    max-width: 25%;
    margin: 2vw 5vw 0 0;
}