@import url('https://fonts.googleapis.com/css?family=Raleway');
* {box-sizing: border-box;}

html {height: 100%}
body {height: 100%; 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */    
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.blue { color:#0065FC } 
.blue-light { color:#DEEBFF } 
.force-grey { color:#F2F2F2!important; }

.flex {display: flex;}
.retourligne {clear:both;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mr20 {margin-right: 20px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}
.padding5 {padding: 5px;}


.border2 {border: 2px solid #F2F2F2;}

.bold {font-weight:bold;}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 40px;
}

.flex-row {
  display: flex;
  flex-flow: row wrap; /** flex-direction: row; flex-wrap: wrap; */
}


/* .wrapper {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*--------------------------------------------------------------
# Logo + Navigation
--------------------------------------------------------------*/
#header {
    justify-content: space-between;
}

.navbar {
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    padding-right: 3vw;
    margin-bottom: 0;
}

.navbar li {
    margin: 5px 35px 0px 0px;
    cursor: pointer;
}

.navbar li a {
    padding: 10px 0;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Début contenu
--------------------------------------------------------------*/
#first-content h3 {
    margin-block-end: 0.5em;
}
.input-group {
    height: 45px;
}
.marker {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding-left: 4px;
    padding-right: 4px;
    align-items: center;
}
.input_search {
    padding: 1rem;
    border-radius: 0px;
    border: 1px solid;
    border-color: #F2F2F2;
    font-weight: bold;
}
input:focus, button:focus{
    outline: none;
}
::placeholder {
  color:black;
  font-size: 1.1em;
}
.btn-search {
    background-color: #0065FC;
    color: white;
    border: 0;
    border-radius: 0 10px 10px 0;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

/*--------------------------------------------------------------
# Filtre
--------------------------------------------------------------*/
#filtre li:first-child {
    border:none;
    margin-top: 15px;
}
#filtre li {
    height: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    padding-right: 15px;
}
/** Force size icon */
.fa-stack {
    height: 2.5em!important;
    width: 2.5em!important;
    line-height: 2.5em!important;
}
.filtre_icon {
    background-color: #DEEBFF;
    color:#0065FC;
    border-radius: 25px;
}

/*--------------------------------------------------------------
# Informations logements
--------------------------------------------------------------*/
.information-logements {
    display: flex;
    align-items: baseline;
}
.text-info {
    padding-top: 10px;
    font-size: 12px;
}

/*--------------------------------------------------------------
# Hébergement
--------------------------------------------------------------*/
.box-hebergement {
    background-color: #F2F2F2;
    border-radius: 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.box-hebergement h3, .box-hebergement p {
    margin: 30px 0px 15px 45px;
    font-size: 1.3em;
    font-weight: bold;
}
.box-hebergement p {
    font-size: 1.2em;
}
.flex-container {
  display: flex;  
  flex-flow: row wrap; /** flex-direction: row; flex-wrap: wrap; */
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.flex-item {
    background: white;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    margin: 5px 20px 10px 20px;
    padding: 5px 5px 0 5px;
}
.flex-column {
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item_details {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 10px;
    color: black;
    font-weight:normal
}

.box-stars {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 1em;
    color: #0065FC;
}

/*--------------------------------------------------------------
# Les plus populaires
--------------------------------------------------------------*/
.box-populaire {
    background-color: #F2F2F2;
    padding: 1em 3em;
    border-radius: 25px;
    margin: 0px 0px 0px 35px;
    flex: 0 0 27%;
    max-width: 27%;
}
.box-populaire_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-populaire img {
    border-radius: 15px 0 0 15px;
}
.flex-item-populaire {
    display: inline-flex;
    background: white;
    padding: 5px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 25px;
    width: -webkit-fill-available;
}
.bottom0 {
    bottom: 0;
    margin-top: auto;    
}